.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;


}

.cardContainer{
    height: 100%;
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

 @media (min-width: 0px) {
    .cardContainer{
        width:  95%;
        
    }

  }
  @media (min-width: 1400px) {
    .cardContainer{
        width:  73%;
        
    }
  }

 