.container{
    height: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    height: 100%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}