@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.cardContainer{
    width: 400px;
    height: 260px;

    margin: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 20px 20px 20px 20px;

    background-color: #ffffff ;
    border-color: #ffffff;
    
    

}

.card{
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "cardTitle"
    "weather"
    ;   
    
    position: relative;
   
}

.cardTitle{
    grid-area: cardTitle;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.btn{
    height: 0px;
    position: absolute;
    top: 0.7vh;
    right: 0.4vw;
}
.btnClose{
    border-radius: 50%;
    border: none;
    height: 2rem;
    background-color: rgba(148, 142, 142, 0.767);
    color: white;
  

}


.btnClose:focus{
    outline: none;
}

.btnClose:hover{
    cursor: pointer;
    background-color:  rgb(158, 150, 150)
}


.cityName{
    margin-top: 1vh;
    font-weight: bold;

}



.weather{
    grid-area: weather;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 
    "currentWeather dailyWeatherBox";
}

.currentWeather{
   grid-area: currentWeather;
   width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.data{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.weatherIcon{
    height: 1.4em;
    color: rgb(114, 113, 113);
    margin-right: 3px;
}

.dailyWeatherBox{
    width: 100%;
    height: 100%;
    grid-area: dailyWeatherBox;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "dailyWeatherTitle"
    "dailyWeather"
    ;
    
}

.daileWeatherTitle{
    grid-area: dailyWeatherTitle;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    
}

.dailyWeather{
    grid-area: dailyWeather;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
}

@media (max-width: 400px) {
    .cardContainer{
        width: 350px;
        height: 260px;

    }

    .data{
        font-size: 11px;
    }

   
    .currentWeather{
        width: 50%;
        padding-left: 7px;
    }

    .dailyWeather{
        width: 80%;
        padding-right: 5px;
    }

  }
 