.card{
    width: 90%;
    height: 100%;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.12), 
                0 1px 5px 0 rgba(0,0,0,.2);
    border: none;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.title{
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 3px;
    margin-bottom: 0px;
}

.icon{
    margin:0px;
    
}
.temp{
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.thermometer{

    color: rgb(114, 113, 113);
    margin-right: 3px;
    margin-top: 2px;
}


