@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

body,html{
  font-family: 'Open Sans Condensed';
  
  margin: 0;
  
  height: 100%;
  padding: 0px;
  background: rgb(151,202,205);
  background: radial-gradient(circle, rgba(151,202,205,1) 0%, rgba(149,196,226,1) 100%);

  
}

#root{
  height: 80%;
}







